body {
    background-color: #e04fcc;
    margin: 0px;
    
}

#wrapper {
    width: 960px;
    background-color: #f9db89;
    margin-right: auto;
    margin-left: auto;
}

#header {
    background-color: #eeed9f;
    height: 150px;
    position: relative;
}